.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagens/katmandu.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    
}

